<header>
    <span id="t">B</span>
    <span id="e">A</span>
    <span id="t">T</span>
    <span id="r">T</span>
    <span id="i">L</span>
    <span id="s">E</span>
</header>
<main>
    <div id="board">
    </div>
    <div id="board2">
    </div>
</main>
<aside>
    <div id="highScore">High Score<br>2000</div>
    <div id="yourScore">your score 0<br>
    </div>
    <div id="play">PLAY</div>
</aside>